*{
    margin: 0;
    padding: 0;
    border: 2px;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}

body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #adadad;
    /* background-size: cover;
    background-position: center; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(151, 151, 151);
}

main{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button{
    cursor: pointer;
}

.nav-bar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 55%;
}

.nav-bar .menu a {
    color: black;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black; 
    margin-right: 20px; 
    transition: color 0.3s;
}

.nav-bar .menu:hover > a {
    color: white;
}

.logo {
    margin-right: auto;
    margin-left: 2%;
}

.logo a img{
    height: 68px;
    width: 100px;
    object-fit: contain;
}

.buttonsLogInUp{
    display: flex;
    width: 30%;
    margin-right: 2em;
    justify-content: flex-end;
}

.logOut, .editUserButton, .cancelEdit, .addUserClass, .showUpdateUserFormContainer, .addUserClassButton{
    background-color: transparent;
    padding: .6em;
    border-radius:.6em;
    font-weight: 700;
    border: 1px solid black;
    color: black;
    transition: color .5s ease, background-color .5s ease;
}

.logOut:hover, #updateButton:hover, .editUserButton:hover,
 .cancelEdit:hover, .addUserClass:hover, .showUpdateUserFormContainer:hover,
 .addUserClassButton:hover{
    background-color: black;
    color: white;
}

.label{
    width: 90%;
    /* margin: 90px auto; */
    display: grid;
    grid-template-areas: "input";
}

.input{
    grid-area: input;
    width: 100%;
    font: inherit;
    border-radius: .6em;
    border: 1px solid black;
    padding: .7rem 1.5rem;
    background-color: #d0d0d0;
}

.labelName{
    grid-area: input;
    z-index: 100;
    width: max-content;
    margin-left: 1rem;
    padding: 0 .5rem;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform .2s;
    transform-origin: center left;
    border-radius: .6em;
    /* margin-bottom:.6em; */
}

.input:where(:focus,
:not(:placeholder-shown)) + .labelName{
    transform: translateY(-50%) scale(.7);
    background-color: #d0d0d0;
}

#userProfile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userProfileContainer, .userClassContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 100%;
}

.userClassContainer{
    flex-direction: column;
}

.profileData{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 80%;
}

.profileText span{
    font-weight: 700;
    font-size: 1.3em;
}

.profileImg{
    width: 50%;
    height: 70%;
    overflow: hidden;
    border-radius: 45%;
}

.profileImg img{
    width: 100%;
    height: 100%;
}

.profileText{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.editUserFormContainer, .addUserClassFormContainer{
    position: fixed;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000055;
}

.editUserForm, .addUserClassForm{
    position: relative;
    width: 60%;
    height: 80%;
    background-color: #adadad;
    border-radius: .6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: .6em;
    border: 1px solid black;
}

.createFormImg{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
}

footer{
    height: 9vh;
    width: 100%;
}

.foot {
    width: 100%;
    background-color: rgb(151, 151, 151);
    color: black; 
    padding: 20px; 
    text-align: center; 
}

.foot i {
    font-size: 24px; 
    margin-right: 20px; 
}

.foot i:hover {
    color: white;
    cursor: pointer; 
}